@{
    ViewData["Title"] = "Home Page";
}

<div style="font-size: 450px ;position: absolute !important;right: 165px !important; font-weight: bold; font-family: Arial, sans-serif;">
    C<span style="color: #ff0000;">l</span>i<span style="color: #ff0000;">N</span>i<span style="color: #ff0000;">c</span>
</div>
